// Custom styles.
// 文章内链接文本样式
.post-body p a{
  color: #555;
  border-bottom: none;
  border-bottom: 1px solid #999;
  &:hover {
    color: #222;
    border-bottom: none;
    border-bottom: 1px solid #222;
  }
}
