.pagination {
  margin: 20px auto;
  text-align: center;
}

.page-number-basic {
  display: inline-block;
  position: relative;
  top: -1px;
  margin: 0 10px;
  // padding: 0 11px;
  min-width: 48px;
  height: 28px;
  line-height: 28px;
  +mobile() { margin: 0 5px; }
}

.pagination {
  .prev, .next, .page-number {
    @extend .page-number-basic;
    border-bottom: 0;
    transition-property: border-color;
    the-transition();
    background: #f2f2f2;
    &:hover { background: #b0b0b0; }
  }

  .space {
    @extend .page-number-basic;
    padding: 0;
    margin: 0;
  }

  .prev { margin-left: 0; }
  .next { margin-right: 0; }

  .page-number.current {
    color: #fff;
    background: #757575;
    border-top-color: $pagination-active-border;
  }
}

@media (max-width: 767px)
  .pagination { border-top: none; }

  .pagination {
    .prev, .next, .page-number {
      margin-bottom: 10px;
      border-top: 0;
      border-bottom: 1px solid $pagination-link-border;
      padding: 0 10px;

      &:hover { border-bottom-color: $pagination-link-hover-border; }
    }
  }
